html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

html, body {
  height: 100%;
  position: relative; }

body,
h1, h2, h3, h4, h5, h6, p,
figure {
  margin: 0; }

img {
  display: block;
  width: 100%; }

ul, ol {
  margin: 0;
  padding: 0; }

body {
  background: linear-gradient(transparent 22px, #15ADE6 22px, #15ADE6 23px, transparent 23px) 0 0/100% 30px repeat-y;
  font-size: 1.25rem;
  line-height: 1.5;
  width: 960px;
  margin: 0 auto; }

p {
  margin-top: 0;
  margin-bottom: 1.875rem; }

h1 {
  font-size: 4.21875rem;
  line-height: 1.33333;
  margin-top: 3.75rem;
  margin-bottom: 1.875rem; }

/*
h2 {
  font-size: $base-rem * $scale * $scale;
  line-height: 1;
  margin-bottom: ($scale / (unitLess(depixel($base-size)) * $scale * $scale)) * 1em;
}

h3 {
  font-size: $base-rem * $scale;
  line-height: 1;
  margin-bottom: ($scale / (unitLess(depixel($base-size)) * $scale)) * 1em;
}
*/
