html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

html, body {
  height: 100%;
  position: relative; }

body,
h1, h2, h3, h4, h5, h6, p,
figure {
  margin: 0; }

img {
  display: block;
  width: 100%; }

ul, ol {
  margin: 0;
  padding: 0; }

body {
  background: linear-gradient(transparent 19.66667px, #15ADE6 19.66667px, #15ADE6 20.66667px, transparent 20.66667px) 0 0/100% 26.66667px repeat-y; }

body {
  font-size: 1.25rem;
  line-height: 1.33333;
  width: 960px;
  margin: 0 auto; }

p {
  margin-top: 0;
  margin-bottom: 1.66667rem; }

h1 {
  font-size: 3.95062rem;
  line-height: 1.6875;
  margin-top: 3.33333rem;
  margin-bottom: 1.66667rem; }

h2 {
  font-size: 2.96296rem;
  line-height: 1.6875;
  margin-top: 2.5rem;
  margin-bottom: 0.83333rem; }

h3 {
  font-size: 1.66667rem;
  line-height: 1;
  margin-top: 1.66667rem;
  margin-bottom: 1.66667rem; }
