////
/// This file contains basic definitions
////

/// Line grid for vertical rythm debug
body {
  @include enig-size();
  width:960px;
  margin: 0 auto;
}

p {
  margin-top: 0;
  margin-bottom: enigmaLeading();
}

h1 {
  @include enig-size(4);
  margin-top: enigmaLeading(2);
  margin-bottom: enigmaLeading();
}

h2 {
  @include enig-size(3);
  margin-top: enigmaLeading(1.5);
  margin-bottom: enigmaLeading(0.5);
}

h3 {
  @include enig-size(1);
  margin-top: enigmaLeading();
  margin-bottom: enigmaLeading();
}
