////
/// This file contains basic definitions
////

/// Line grid for vertical rythm debug
body {
  @include enig-dev-lines;
  @include enig-size();
  width:960px;
  margin: 0 auto;
}

p {
  margin-top: 0;
  margin-bottom: enigmaLeading()
}

h1 {
  @include enig-size(3);
  margin-top: enigmaLeading(2);
  margin-bottom: enigmaLeading();
}

/*
h2 {
  font-size: $base-rem * $scale * $scale;
  line-height: 1;
  margin-bottom: ($scale / (unitLess(depixel($base-size)) * $scale * $scale)) * 1em;
}

h3 {
  font-size: $base-rem * $scale;
  line-height: 1;
  margin-bottom: ($scale / (unitLess(depixel($base-size)) * $scale)) * 1em;
}
*/