/// settings
$enig-base: 16px !default;
$enig-scale: 1.5 !default;
$enig-unit: 'rem' !default;
$enig-root: 16 !default; //root font size, default for most browsers is 16, but it can be changed by user