/// Helpers
@function depixel ( $value ) {
  @return $value / 1px;
}

@function enigmaUnit ( $value, $root: $enig-root, $unit: null ) {
  @return ( $value / $root ) * 1#{$unit};
}

/// FIXME - next 3 functions are obsolete should be removed
@function unitLess ( $value, $root: 16 ) {
  @return ( $value / $root );
}

@function toEm ( $value, $root: 16 ) {
  @return ( $value / $root ) * 1em;
}

@function toRem ( $value, $root: 16 ) {
  @return ( $value / $root ) * 1rem;
}

/// Function to calculate size based on scale
@function enigmaSize ( $tier: 0, $unit: $enig-unit ) {
  $value: $enig-number;

  @if $tier > 0 {
    @for $i from 1 through $tier {
      $value: $value * $enig-scale;
    }
  } @else if $tier < 0 {
    @for $i from 1 through abs( $tier ) {
      $value: $value / $enig-scale;
    }
  }

  @return $value * 1#{$unit};
}

/// Function to calculate correct line height
@function enigmaLine ( $lh-args ) {
  $lh: $enig-scale;
  $tier: nth( $lh-args, 1);

  @if ( index($lh-args, 'real') ) {
    @return $tier;
  }

  @if $tier > 0 {
    $lh: $tier * $lh * $enig-number;
    @return ( $lh / enigmaSize( $tier, null ) );
  }

  @return $lh;
}

/// FIXME - make it work for number <1
@function enigmaLeading ( $tier: 1, $unit: $enig-unit ) {
  @return ( $enig-scale * $tier * $enig-number) * 1#{$unit};
}