/// Create grid lines for debug purpose
@mixin enig-grid () {
  background: linear-gradient(transparent ($enig-base * $enig-scale - 1px + $corr), $line-color ($enig-base * $enig-scale - 1px + $corr), $line-color ($enig-base * $enig-scale + $corr), transparent ($enig-base * $enig-scale + $corr) ) 0 0 / 100% ($enig-base * $enig-scale) repeat-y;
}

/// Set basic text properties based on base font size and scale
/// FIXME - popis
/// Mixin bere parametry ve tvaru (2 / 1.2 3 1) kde parametry jsou následující
/// 2 - velikost textu dle stupnice (nepovinný parametr, default je jedna)
/// 1.2 - vlastní řádkování (nepovinný parametr default je dle stupnice)
/// 3 - margin top (nepov paramater, pokud není zadán, margin je 0)
/// 1 - margin bottom - jedná se o násobek leadingu (defaultní výšky řádku) (nepovinný parametr, pokud není zadán, margin je 0)
/// Pokud je třeba zadat pouze margin bottom a top nechceme měnit, je možné použít klíčové slovo base, které zachová hodnotu margin top nezměněnou
@mixin enigma ( $keywords: () ) {
  @if length( $keywords ) == 0 {
    $tier: 0;
  } @else {
    $tier: nth( $keywords, 1 );

    @if type-of( $tier ) != number {
      @error 'First argument must be a integer number, not a #{ type-of($tier) }';
    }
  }
  font-size: enigmaSize( $tier );

  @if index( $keywords, 'on' ) {
    $lh-args: nth( $keywords, index( $keywords, 'on' ) + 1 );
    $lh-args: append( $lh-args, 'real');
  } @else {
    $lh-args: $tier;
  }
  line-height: enigmaLine( $lh-args );

  $m-pos: index( $keywords, 'with');

  @if $m-pos {
    @if ( nth( $keywords, $m-pos + 1 ) ) != 'base' {
      $mt: nth( $keywords, $m-pos + 1 );
      margin-top: enigmaLeading( $mt );
    }

    @if ( length($keywords) >= $m-pos + 2 ) and ( type-of(nth( $keywords, $m-pos + 2 ) ) == 'number' ) {
      $mb: nth( $keywords, $m-pos + 2 );
      margin-bottom: enigmaLeading( $mb );
    }

  } @else {
    margin-top: enigmaLeading( 1 );
    margin-bottom: enigmaLeading( 1 );
  }
}
