/// Variables

$enig-scale: 1.5; //modular scale used on page
$enig-base: 20px; //base font size used for standard (paragraph) text
$corr: -7px;  /// debug line correction constant
$enig-grid: true;

$line-color: #15ADE6;