/// Variables

$enig-scale: (4/3); //modular scale used on page
$enig-base: 20px; //base font size used for standard (paragraph) text
$corr: -6px;  /// debug line correction constant
$enig-grid: true;

$line-color: #15ADE6;