////
/// Normy - core
///
/// Custom reset file with minimum possible declarations.
/// Uses most-often decalrations (possibly used in all projects)
////

/// Set up a decent box model on the root element
html {
  box-sizing: border-box;
}

/// Make all elements from the DOM inherit from the parent box-sizing.
/// Since `*` has a specificity of 0, it does not override the `html` value
/// making all elements inheriting from the root box-sizing value
/// @link https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*, *::before, *::after {
  box-sizing: inherit;
}

/// Allow element to span entire vh and absolute positioning
html, body {
  height: 100%;
  position: relative;
}

/// Deactivate default body margin
/// Reset for typografic rules
/// Reset of default margin for figure
body,
h1, h2, h3, h4, h5, h6, p,
figure {
  margin: 0;
}

/// Basic image responsivity and layout adjustment
img {
  display: block;
  width: 100%;
}

/// Margin and Padding reset for lists - it is ussualy set to reflect
/// vertical rythm anyway.
ul, ol {
  margin: 0;
  padding: 0;
}